name: Code

on:
  push:
    tags:
      - v*
    branches:
      - main
  pull_request:
  schedule:
    - cron: "0 0 * * 0"

permissions:
  contents: read

concurrency:
  group: ${{ format('{0}-{1}', github.workflow, github.head_ref) }}
  cancel-in-progress: true

jobs:
  GoVersions:
    name: Lookup Go versions
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.versions.outputs.matrix }}
      latest: ${{ steps.versions.outputs.latest }}
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v5.5.0
      - uses: arnested/go-version-action@978371bd4d8cad0f54106c8be4273e2fcdd74f57 #v1.1.23
        id: versions

  UnitTestsJob:
    runs-on: ubuntu-latest
    needs: GoVersions
    strategy:
      matrix:
        go: ${{ fromJSON(needs.GoVersions.outputs.matrix) }}
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v5.5.0
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: ${{ matrix.go }}
      - run: go test -race -cover -coverprofile=coverage.out -covermode=atomic
      - run: go test -json 2>&1 | go tool -modfile=".github/tools/go.mod" go-junit-report -parser gojson > junit.xml
        if: ${{ !cancelled() }}
      - name: Upload coverage reports to Codecov
        if: ${{ !cancelled() }}
        uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5.5.1
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
      - name: Upload test results to Codecov
        if: ${{ !cancelled() }}
        uses: codecov/test-results-action@47f89e9acb64b76debcd5ea40642d25a4adced9f # v1.1.1
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

  UnitTests:
    if: ${{ always() }}
    needs: UnitTestsJob
    runs-on: ubuntu-latest
    steps:
      - name: Check status
        if: ${{ needs.UnitTestsJob.result != 'success' }}
        run: exit 1

  Lint:
    runs-on: ubuntu-latest
    needs: GoVersions
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v5.5.0
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: ${{ needs.GoVersions.outputs.latest }}
      - name: Verify Config
        run: go tool -modfile=".github/tools/go.mod" golangci-lint config verify --verbose
      - name: Run Linter
        run: go tool -modfile=".github/tools/go.mod" golangci-lint run --verbose

  Mocks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v5.5.0
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: go.mod
      - run: go mod tidy
      - run: go generate
      - name: Checking Git
        run: |
          DELTA="$(git status --short)"
          if [ -n "${DELTA}" ]
          then
            echo "::error title=Mocks are outdated::Please generate the mocks by running 'go generate'"
            git status
            exit 1
          fi
