name: "Update Mocks"

on:
  workflow_dispatch:

permissions:
  contents: read

concurrency:
  group: ${{ format('{0}-{1}', github.workflow, github.head_ref) }}
  cancel-in-progress: true

jobs:
  UpdateMocks:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v5.5.0
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: go.mod
      - run: go mod tidy
      - name: Clean mocks
        run: rm -rf ./mocks
      - run: go generate
      - name: Checking Git
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          DELTA="$(git status --short)"
          if [ -n "${DELTA}" ]
          then
            git config --global user.name 'SV Tools Bot'
            git config --global user.email 'sv.go.tools@gmail.com'
            git checkout -b update-mocks
            git add .
            git commit -m "Update Mocks"
            git push origin update-mocks
          fi
